<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Gym</title>
</head>
<body>
    <h1>About Our Gym</h1>
    <p>
        Social media can be a valuable tool and cost effective solution for your fitness business. Used properly, it’s possible to generate leads and create loyalty for existing members/clients.

        Knowing who your customer is so that you can create content that they will want to engage with is important and I’d always recommend creating customer profiles and developing a strategy before setting about creating your content.
        
        However, there is certain health and fitness content that most gym-goers and health conscious people will resonate with so today I’m going to cover these and give you some inspiration for what you could post!
        
        These ideas are pretty tried and tested and you can adapt them for your own clients.




    </p>
    <hr>
    <h2> Workout ideas</h2>
    <p>
        This is where you can really add value and show your knowledge and expertise.

        Why not create some short workout videos for people to do at home or on holiday. 
        You could even create a series and focus on a different part of the body in each video.
        
        You might want to create a bodyweight series if people are away on holiday so 
        that they don’t need to worry about gathering equipment together. Or perhap
        s you could focus on creating videos with minimal equipment and using ‘alternatives’ to 
        weights.
        
        The great thing about these videos is they are evergreen and can be posted to 
        various platforms multiple times (e.g. over the course of a year). You can also 
        create engagement and future content ideas by encouraging people to give you feedback on 
        the workouts.





    </p>
    <h2>Celebrate member achievements</h2>

    <p>
        This a great opportunity to nurture your member community. People work hard at the
         gym and receiving encouragement and support along the way is important.

Therefore once a member has reached their goal, celebration of that can feel wonderful 
for that person and exciting for those around them.

This kind of content usually generates lots of engagement. It’s happy, positive news 
and shows a supportive community people will want to be part of.
    </p>
    <hr>
    <h2> Run a challenge </h2>
    <p>
        Challenges can be a great way of generating lots of engagement and therefore
         brand awareness. Whether it’s who can plank for the longest with a bucket of 
         
         water on their back (!) or something completely different, people love to get
          involved in a fun challenge and this will increase engagement and brand awareness.



    </p>
</body>
</html>