<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Kabaddi</title>
</head>
<body>
    <h1>Kabaddi Sports</h1>
    <p>Kabaddi, also known as kabbadi or kabadi, is a popular contact sport played by two teams on opposite halves of the filed. Each team has seven players and the objective of the game is for a single player on offence, called a raider, to run into the opposing team part of the filed and tag out as many of their defenders as possible. When they cross onto the other team’s side, riders repeat ‘kabaddi, kabaddi’.

        The player has to return in its own half of the field in a single breath, without being tackled by the defenders. Points are given for each player that the raider successfully tagged, while the other teams earns points if they can stop the raider. Also, the players are out of the game if they are tackled or tagged, if they step out of the field or if they stop chanting, but can be brought back for each point scored by their team for the same actions.
    </p>
    <hr>
    <h2>How many types of kabaddi sport style are?</h2>
    <p>
        There are two variations of the kabaddi game that are most known: the standard version and the circular version. The standard version, which is also the international accepted one, involves seven players per team performing on a rectangular court of 10 by 13 metres (33 ft × 43 ft) in case of men and 8 by 12 metres (26 ft × 39 ft) in case of women. The game is played with 20 minute halves with a 5-minute half break in which the teams exchange sides. Also, each raid has a 30-second time limit.

The circular version has remained popular in some regions of India. Also called the Punjabi kabaddi, this is a variation that is played on a circular pitch of a diameter of 22 metres. But there are other three types of this game played by amateurs in India: Sanjeevani style, Gaminee style and Amar style.

In Sanjeevani style, one player is revived against one player of the opposite team who is out. There are still seven players on each side, and the team that outs all the players on the opponent's side scores four extra points.

In Gaminee style, seven players play on each side, and a player put out has to remain out until all his team members are out. The team that is successful in outing all the players of the opponent's side secures a point. The game continues until five or seven such points are secured, and has no fixed time duration.

In Amar style, a player who is declared out stays inside the court while play continues. For every player of the opposition touched "out", a team earns a point.
    </p>
    <h2>What equipment you need to play kabaddi?</h2>
    <p>
        There are just a few things you will need to create a fun kabaddi game during your PE class. This is actually one of the things that makes this game so appreciated among teachers across the world. To start a kabaddi game, you will need just some coloured bibs or t-shirt, so you can differentiate the teams, and cones to mark out the area of the game.There are just a few things you will need to create a fun kabaddi game during your PE class. This is actually one of the things that makes this game so appreciated among teachers across the world. To start a kabaddi game, you will need just some coloured bibs or t-shirt, so you can differentiate the teams, and cones to mark out the area of the game.
    </p>
    <h2>How to play the game?</h2>
    <p>

        If it’s already clear what is a kabaddi sport, here is all you need to know about how you can play the game:

Split children into teams of 7. If you have more than 14 people in your classroom, create more teams that can take turns playing or organize two games at the same time. This way, everyone will get a chance to play.
Set up the area from the game. Here is a handy worksheet that you can use to do that. You’ll also find the instructions below.
Start the game by tossing a coin to see who raids first.
The team raiding first sends one player over the middle line. This player must begin chanting ‘kabaddi, kabaddi’ continuously.
To score points, they must tag a member of the opposing team on the arm, leg or torso. Meanwhile, they must keep chanting. For each player tagged, they score a point.
The players from the opposing team must move, working as a team, to stop being tagged.
Once the raider becomes out of breath, and can no longer chant, they move back across the middle line into their own part of the field.
Then the opposition sends out their raider.
Each team sends their raiders in the same order. Points will be given to the other team if this order is not followed.
Here are some exercises you can try before of the game, to warm-up your teams:



When is a player eliminated from the game?
There are three situations when a player has to get out of the game:

If a player is tagged and the raider makes it safely back to their part of the court, the tagged player is out of the game.
If a raider runs out of breath and stops chanting before returning to their area, they are out.
In case any player steps outside the court, they are out.
However, whenever a player from one of the teams gets out, the other team can bring back any of the players who are out. This must happen in the order in which they were eliminated from the game.

What equipment you need to play kabaddi?
There are just a few things you will need to create a fun kabaddi game during your PE class. This is actually one of the things that makes this game so appreciated among teachers across the world. To start a kabaddi game, you will need just some coloured bibs or t-shirt, so you can differentiate the teams, and cones to mark out the area of the game.

Resources to teach children how to play kabaddi:
Finding appropriate resources for different activities you want to try with your children is not easy, and it might take a lot of time and energy. We want to help you save some time planning, so we’ve put together a short list of resources you can use to help children understand what is kabaddi sport and why it can be fun playing it:



Kabaddi Invasion Game (Adult Guidance) - This useful worksheet will tell you everything you need to know about this sport: what is kabaddi sport, how to play it, what equipment will you need and how to set up the game. Completely designed and approved by qualified teachers, the instructions are easy to follow and perfect for teachers trying to entertain large groups of children. Why not take some of your lessons outdoors with this activity that will help your students burn off some energy? Or add this ancient game into your PE lessons! Kabbadi a good source of exercise and encourages team work.



Year 6 Invasion Games Lesson 6 - Invasion Game Gurus - This amazing lesson pack includes all the materials you need to plan a lesson about kabaddi from start to finish. Downloading it, you will get a PowerPoint lesson presentation, that will guide you through every step of the class, a PDF lesson plan that you can print and check at all times, and tons of useful resources. You will have evaluation sheets, differentiation cards, skills posters, warm-up and cool down cards, success criteria grids, question cards and more.

Our production team upload and updates resources regularly, so it might be worth keeping an eye on our website. If you are looking for more materials for your PE lessons, try our Twinkl Move fantastic teaching package that provides a complete breadth of planning from Reception through to Key Stage 2.

You’ll find full PE schemes of work and CPD content, created by teachers for teachers, to help you teach your little learners, while also saving time planning. Twinkl Move includes interactive PowerPoints, lesson plans, home-learning tasks, aims posters, assessment packs, learning journeys and differentiation cards. All you need to do is upgrade to Twinkl Ultimate today to unlock more of our amazing content, and you’re ready to go!

However, we have loads of free resources you can access on our website, so you’ll definitely find something to help you teach different topics to your children. Our materials are made by teachers for teachers, so you can be sure they are relevant and in line with the National Curriculum.

Teach difficult concepts with ease, with the help of our Sunday newsletter...
example@example.com
 I'm in
Try one of our 'kabaddi sport' resources today.
Resource thumbnail
Kabaddi Invasion Game (Adult Guidance)
Resource thumbnail
Year 6 Invasion Games Lesson 6 - Invasion Game Gurus
Resource thumbnail
Street Games of India/Traditional Games of India
Resource thumbnail
Fundamental Movement Skills Cool-Down Cards Activity Pack
Resource thumbnail
The Commonwealth Games What Event Is It PowerPoint
Resource thumbnail
Sports Bingo
Resource thumbnail
Favourite Sport Classroom Data Collection Sheet for Year 5
Resource thumbnail
EYFS/KS1 All about The Commonwealth Games PowerPoint
Resource thumbnail
EYFS Multi-Skills Sports Day Sticker Pack
Resource thumbnail
Most Popular Sport Data Investigation Worksheet
Resource thumbnail
Sporting Event Posters
Resource thumbnail
Olympic Games Movement Cards
Resource thumbnail
The Tortoise and The Hare PowerPoint
Resource thumbnail
Fundamental Movement Skills Action Cards Activity Pack
Resource thumbnail
The Commonwealth Games Word Search
Resource thumbnail
LKS2 Lionel Messi Differentiated Reading Comprehension Activity
Resource thumbnail
Level 3a Reading Scheme eBook: Will We Win?
Resource thumbnail
UKS2 About India Differentiated Reading Comprehension Activity
Resource thumbnail
Editable Award Rosettes
Resource thumbnail
KS1 The Commonwealth Games Information PowerPoint
Show me more 'kabaddi sport' resources please!
Try one of our 'kabaddi sport' resources today.
Kabaddi Invasion Game (Adult Guidance)
Kabaddi Invasion Game (Adult Guidance)
Year 6 Invasion Games Lesson 6 - Invasion Game Gurus
Year 6 Invasion Games Lesson 6 - Invasion Game Gurus
Street Games of India/Traditional Games of India
Street Games of India/Traditional Games of India
Fundamental Movement Skills Cool-Down Cards Activity Pack
Fundamental Movement Skills Cool-Down Cards Activity Pack
The Commonwealth Games What Event Is It PowerPoint
The Commonwealth Games What Event Is It PowerPoint
Sports Bingo
Sports Bingo
Favourite Sport Classroom Data Collection Sheet for Year 5
Favourite Sport Classroom Data Collection Sheet for Year 5
EYFS/KS1 All about The Commonwealth Games PowerPoint
EYFS/KS1 All about The Commonwealth Games PowerPoint
EYFS Multi-Skills Sports Day Sticker Pack
EYFS Multi-Skills Sports Day Sticker Pack
Most Popular Sport Data Investigation Worksheet
Most Popular Sport Data Investigation Worksheet
Sporting Event Posters
Sporting Event Posters

    </p>
</body>
</html>