<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Library</title>
</head>
<body>
    <h1>What do you like best about My Library?</h1>
    <p>
        I love the accessibility of the library. It is very organized and user friendly.
         I know where to go, how to pull things up and how to access files. It is a great
          tool that helps even the greenest of users can make a good run. I enjoy being 
          able to open this up and just ease my way into use. I want to be able to have
           an easier use just through somple training tools that can help me show all 
           aspects of what library can do. The product is amazing but i feel as if i 
           am not accomplishing all that the tool has to offer. If you had something simliar 
           to a microsoft platform that has break downs and a full over view of how the product 
           works i believe it will be very benefical for all users that are not essentially
            apart of the apple cult.
    </p>

    <h2>About Library</h2>
    <p>
        The history of libraries began with the first efforts to organize collections of documents.[1] The first libraries consisted of archives of the earliest form of writing—the clay tablets in cuneiform script discovered in Sumer, some dating back to 2600 BC. Private or personal libraries made up of written books appeared in classical Greece in the 5th century BC. In the 6th century, at the very close of the Classical period, the great libraries of the Mediterranean world remained those of Constantinople and Alexandria.

The Fatimids (r. 909–1171) also possessed many great libraries within their domains. The historian Ibn Abi Tayyi’ describes their palace library, which probably contained the largest collection of literature on earth at the time, as a "wonder of the world". Throughout history, along with bloody massacres, the destruction of libraries has been critical for conquerors who wish to destroy every trace of the vanquished community's recorded memory. A prominent example of this can be found in the Mongol massacre of the Nizaris at Alamut in 1256 and the torching of their library, "the fame of which", boasts the conqueror Juwayni, "had spread throughout the world".[2]

The libraries of Timbuktu were established in the fourteenth century and attracted scholars from all over the world.[3]
    </p>
<hr>
    <h2>The changing role of libraries</h2>

    <p>
        Libraries are collections of books, manuscripts, journals, and other sources of recorded information. They commonly include reference works, such as encyclopaedias that provide factual information and indexes that help users find information in other sources; creative works, including poetry, novels, short stories, music scores, and photographs; nonfiction, such as biographies, histories, and other factual reports; and periodical publications, including magazines, scholarly journals, and books published as part of a series. As home use of records, CD-ROMs, and audiotapes and videotapes has increased, library collections have begun to include these and other forms of media, too.

Books. Lord Alfred Tennyson. Lord Byron. Poetry. Reading. Literacy. Library. Antique. A stack of four antique leather bound books.
BRITANNICA QUIZ
    </p>

    <h2>National libraries</h2>
    <p>
        For a table of selected national libraries of the world, see below. In most countries there is a national or state library or a group of libraries maintained by national resources, usually bearing responsibility for publishing a national bibliography and for maintaining a national bibliographic information centre. National libraries strive principally to collect and to preserve the nation’s literature, though they try to be as international in the range of their collections as possible.
    </p>
</body>
</html>